<h1>Contact</h1>

<ul>
  <li>Email: <%=mail_to "rahaynes@gmail.com"%></li>
  <li>Cell: <a href="tel: 828-719-7689">828-719-7689</a></li>
  <li>LinkedIn: <%=link_to 'https://www.linkedin.com/in/robertandersonhaynes/'%></li>
</ul>
